html{
    background-color: rgba(136, 228, 118, 0.774);
    display: block;
}
header h1{
    text-align: center; 
}
.Top{
    background-color: aquamarine;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
#ordered{
    background-color: rgb(223, 169, 218)
}
ol{
    text-align: left;
    margin-left: 300px;
    margin-right: 500px;
}
figcaption{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
body{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: block;
    font-family: sans-serif;
    background-color: rgb(235, 236, 125);
}
img{
    max-width: 700px;
}
footer{
    background-color: greenyellow;
}