html{
    background-color: rgba(136, 228, 118, 0.774);
    display: block;
}
header h1{
    text-align: center; 
}
body{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: block;
    font-family: sans-serif;
    background-color: rgb(235, 236, 125);
}
img{
    max-width: 700px;
}
footer{
    background-color: greenyellow;
}